@import "stainstyle.css";
.root
{
	/******************************************************************************
		General                                            
	******************************************************************************/	
	-root-base:					rgb(37,37,37);
	-root-front:				rgb(27,27,27);
	
	-border-focused:			rgb(0,120,215);
	-text:						white;
	-progress:					green;
	-mark:						rgb(103,103,103);
	/******************************************************************************
		Controls                                               
	******************************************************************************/	
	-control-base:				rgb(48,48,48);
	-control-base-hover:		rgb(42,42,42);
	-control-base-armed:		rgb(22,22,22);
	
	-control-border:			rgb(0,0,0);
	-control-border-hover:		rgb(103,103,103);
	-control-border-armed: 		rgb(0,120,215);
	
	-text-control-base:			rgb(17,17,17);
	/******************************************************************************
		Items  (Selected -> Just one state) (Focused -> More than one)                                           
	******************************************************************************/	
	-item-base-selected:		rgb(81,81,81);
	-item-base-focused:			rgb(119,119,119);
}