@import "stainstyle.css";
.root
{
	/******************************************************************************
		General                                            
	******************************************************************************/	
	-root-base:					rgb(250,250,250);
	-root-front:				white;
	
	-border-focused:			rgb(0,120,215);
	-text:						black;
	-progress:					green;
	-mark:						rgb(103,103,103);
	/******************************************************************************
		Controls                                               
	******************************************************************************/	
	-control-base:				rgb(240,240,240);
	
	-control-border:			rgb(153,153,153);
	-control-border-hover:		rgb(103,103,103);
	-control-border-armed: 		rgb(0,120,215);
	
	-text-control-base:			rgb(252,252,252);
	/******************************************************************************
		Items  (Selected -> Just one state) (Focused -> More than one)                                           
	******************************************************************************/	
	-item-base-selected:		rgb(203,203,203);
	-item-base-focused:			rgb(179,179,179);
}