.root
{
/*******************************************************************************
 *                                                                             *
 * Constants                                                    
 *                                                                             *
 ******************************************************************************/
-wirl-base-default:rgb(225,225,225);
-wirl-border-default:rgb(173,173,173);
-wirl-border-hover:rgb(0,120,215);
-wirl-border-focused: rgb(0,120,215);
-wirl-text: black;
-wirl-accent: rgb(0,84,153);
-wirl-mark:derive(-wirl-base-default,-55.0%);
-wirl-base-top-pane:white;
-wirl-base-tool-tip:rgb(200,200,200);
-wirl-base-menu-bar:white;
-wirl-base-input:white;
-wirl-root:rgb(240,240,240);
 /*******************************************************************************
 *                                                                             *
 * ContextMenu Constants                                                  
 *                                                                             *
 ******************************************************************************/
-wirl-base-context-menu:derive(-wirl-base-default,7%);
-wirl-border-context-menu:derive(-wirl-border-default,7%);
 /*******************************************************************************
 *                                                                             *
 * Item Constants                                                  
 *                                                                             *
 ******************************************************************************/
-wirl-base-default-item:rgb(144,200,246);
-wirl-base-focused-item:rgb(86,176,250);
/*******************************************************************************
 *                                                                             *
 * Button Constants                                                  
 *                                                                             *
 ******************************************************************************/
-wirl-base-hover-button:rgb(229,241,251);
-wirl-base-armed-button:rgb(204,228,247);
-wirl-border-armed-button: rgb(0,84,153);
/*******************************************************************************
 *                                                                             *
 * Text defaults                                                 
 *                                                                             *
 ******************************************************************************/
-fx-font-family: "SegoeUI";
-fx-font-size: 12;
-fx-text-fill: -wirl-text;
-fx-text-base-color: -wirl-text;
-fx-text-inner-color: -wirl-text;
-fx-selection-bar-text: -wirl-text;
-fx-text-background-color: -wirl-text;
-fx-background-color:-wirl-root;
}


/*******************************************************************************
 *                                                                             *
 * Common Button Styles                                                          
 *                                                                             *
 ******************************************************************************/
.spinner > .increment-arrow-button,
.spinner > .decrement-arrow-button,
.split-menu-button > .arrow-button,
.combo-box-base:editable >.arrow-button,
.slider >.thumb,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button ,
.table-view > .column-header-background > .show-hide-columns-button
{
	-border:-wirl-border-default;
	-base:-wirl-base-default;
	-fx-background-color:-border,-base;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
}
.spinner > .increment-arrow-button:hover,
.spinner > .decrement-arrow-button:hover,
.split-menu-button > .arrow-button:hover,
.combo-box-base:editable >.arrow-button:hover,
.slider >.thumb:hover,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover,
.table-view > .column-header-background > .show-hide-columns-button:hover
{
    -border:-wirl-border-hover;
	-base:-wirl-base-hover-button;
}
.spinner > .increment-arrow-button:pressed, 
.spinner > .decrement-arrow-button:pressed,
.split-menu-button > .arrow-button:pressed,
.combo-box-base:editable >.arrow-button:pressed,
.slider >.thumb:pressed,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:pressed,
.table-view > .column-header-background > .show-hide-columns-button:pressed
{
    -border:-wirl-border-armed-button;
	-base:-wirl-base-armed-button;
}
/*******************************************************************************
 *                                                                             *
 * Common Mark Styles                                                          
 *                                                                             *
 ******************************************************************************/
/*Arrows: Bottom Direction*/
.spinner > .decrement-arrow-button > .decrement-arrow,
.split-menu-button > .arrow-button > .arrow,
.combo-box-base >.arrow-button > .arrow,
.menu-button > .arrow-button > .arrow,
.choice-box > .open-button > .arrow,
.menu-down-arrow,
.titled-pane > .title > .arrow-button >.arrow,
.scroll-bar:vertical > .increment-button > .increment-arrow ,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow ,
.column-header  .arrow ,
.tool-bar > .tool-bar-overflow-button > .arrow
{
	-fx-pref-width: 10;
    -fx-max-width: 10;
    -fx-min-width: 10;
    -fx-pref-height: 8;
    -fx-max-height: 8;
    -fx-min-height: 8;
	-fx-shape: "M 1 0 L 1 0 L 5 4 L 9 0 L 10 1 L 5 6 L 0 1 L 1 0";
    -fx-background-color:-wirl-mark;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
	-fx-border-color:transparent;
}

/*Arrows: Top Direction*/
.spinner > .increment-arrow-button > .increment-arrow,
.menu-up-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow 
{
	-fx-pref-width: 10;
    -fx-max-width: 10;
    -fx-min-width: 10;
    -fx-pref-height: 8;
    -fx-max-height: 8;
    -fx-min-height: 8;
	-fx-shape: "M 5 0 L 0 5 L 5 0 L 10 5 L 9 6 L 5 2 L 1 6 L 0 5";
    -fx-background-color:-wirl-mark;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
/*Arrows: right Direction*/
 .menu > .right-container >.arrow,
 .scroll-bar:horizontal > .increment-button > .increment-arrow ,
 .pagination .pagination-control .right-arrow-button >.right-arrow,
 .tree-cell > .tree-disclosure-node > .arrow ,
 .date-picker-popup > * > .spinner > .button > .right-arrow
 {
	-fx-pref-width: 8;
    -fx-max-width: 8;
    -fx-min-width: 8;
    -fx-pref-height: 10;
    -fx-max-height: 10;
    -fx-min-height: 10;
	-fx-shape : "M 1 0 L 1 0 L 6 5 L 1 10 L 0 9 L 4 5 L 0 1 L 1 0";
    -fx-background-color:-wirl-mark;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
 }
/*Arrows: left Direction*/
 .scroll-bar:horizontal > .decrement-button > .decrement-arrow,
 .pagination .pagination-control .left-arrow-button >.left-arrow ,
 .date-picker-popup > * > .spinner > .button > .left-arrow
 {
	-fx-pref-width: 8;
    -fx-max-width: 8;
    -fx-min-width: 8;
    -fx-pref-height: 10;
    -fx-max-height: 10;
    -fx-min-height: 10;
	-fx-shape : "M 5 0 L 6 1 L 2 5 L 6 9 L 5 10 L 0 5 L 5 0 L 5 0";
    -fx-background-color:-wirl-mark;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
 }
/*Check Mark*/
.check-menu-item:checked > .left-container >.check,
.check-box:selected > .box > .mark 
{
	-fx-pref-width: 10;
    -fx-max-width: 10;
    -fx-min-width: 10;
    -fx-pref-height: 10;
    -fx-max-height: 10;
    -fx-min-height: 10;
	-fx-shape: "M 2 6 L 6 12 L 16 0 L 18 0 L 18 2 L 6 16 L 0 8 L 0 6 L 2 6";
    -fx-background-color:-wirl-mark;
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
}
/*Radio Mark*/
.radio-menu-item:checked > .left-container >.radio,
.radio-button:selected > .radio > .dot 
{
	-fx-pref-width: 10;
    -fx-max-width: 10;
    -fx-min-width: 10;
    -fx-pref-height: 10;
    -fx-max-height: 10;
    -fx-min-height: 10;
	-fx-shape: "M 0 0 L 4 0 L 4 4 L 0 4 L 0 0";
    -fx-background-color:-wirl-mark;
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                  
 *                                                                             *
 ******************************************************************************/
.hyperlink 
{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
    -fx-text-fill: -wirl-accent;
}
.hyperlink:focused,
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:hover:visited,
.hyperlink:visited:armed {
    -fx-underline: true;
}

/******************************************************************************
 *                                                                             *
 * TreeView                              
 *                                                                             *
 ******************************************************************************/
.tree-view
{
	-base:-wirl-base-input;
	-border:-wirl-border-default;
	-fx-background-color:-border,-base;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
	-fx-padding:2;
}
.tree-view:focused
{
	-border:-wirl-border-focused;
	-fx-background-insets:0,2;
}
.tree-view:hover
{
	-border:-wirl-border-hover;
	-fx-background-insets:0,1;
}
/*Cells*/
.tree-view .tree-cell
{
	-base:transparent;
	-border:-base;
	-fx-background-color:-border,-base;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
}
.tree-view .tree-cell:selected:filled,
.tree-view .tree-cell:focused:filled,
.tree-view .tree-cell:hover:filled
{
	-base:-wirl-base-default-item;
}

.tree-view .tree-cell:selected:hover:filled,
.tree-view .tree-cell:focused:hover:filled
{
	-base:-wirl-base-focused-item;
	-border:-wirl-border-hover;
}

 /******************************************************************************
 *                                                                             *
 * Pagination                              
 *                                                                             *
 ******************************************************************************/
 .pagination .pagination-control .number-button,
 .pagination .pagination-control .bullet-button
 {
	 -border:-wirl-border-default;
	 -base:-wirl-base-default;
	 -fx-background-color:-border,-base;
	 -fx-background-insets:0,1;
	 -fx-background-radius:0,0;
 }
 
 .pagination .pagination-control .number-button:hover,
 .pagination .pagination-control .bullet-button:hover,
 .pagination .pagination-control .number-button:selected,
 .pagination .pagination-control .bullet-button:selected
 {
	-base:-wirl-base-default-item;
 }
 .pagination .pagination-control .number-button:hover,
 .pagination .pagination-control .bullet-button:hover
 {
	-border:-wirl-border-hover; 
 }
 
 .pagination .pagination-control .number-button:selected:hover,
 .pagination .pagination-control .bullet-button:selected:hover,
 .pagination:focused .pagination-control .number-button:selected,
 .pagination:focused .pagination-control .bullet-button:selected
 {
	 -base:-wirl-base-focused-item;
 }
 /******************************************************************************
 *                                                                             *
 * TableView TODO: Rework focus indication & custom nodes                             
 *                                                                             *
 ******************************************************************************/
/*Background*/
.table-view
{
	-border:-wirl-border-default;
	-fx-background-color: -border,-wirl-base-input;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
	-fx-padding:2;
}
.table-view:focused
{
	-border:-wirl-border-focused;
	-fx-background-insets: 0,2 ;
}
.table-view:hover
{
	-border:-wirl-border-hover;
	-fx-background-insets: 0,1 ;
}

.table-view > .filler
{
	-fx-background-color:blue;
}

/*Cells*/
.table-row-cell:odd,
.table-row-cell:even
{
	-fx-background-color:transparent;
}
.table-row-cell > .table-cell
{
	-fx-table-cell-border-color: -wirl-border-default;
}
.table-row-cell:selected,
.table-row-cell:hover
{
	-fx-background-color:-wirl-base-default-item;
}
.table-row-cell:selected:hover > .table-cell:hover
{
	-fx-background-color:-wirl-border-hover,-wirl-base-focused-item;
	-fx-background-insets:0,1 2 1 1;
}

/*Header*/
 .table-view .column-header,
 .table-view .column-drag-header,
 .table-view .column-header-background .filler,
 .table-view .column-header.table-column-selected,
  .table-view .column-header .filler
 {
	 -base:-wirl-base-default;
	 -border:-wirl-border-default;
	 -fx-background-color:-border,-base;
	 -fx-background-insets:0,1;
	 -fx-background-radius:0,0;
 }
.table-view .column-header:hover
{
	 -base:-wirl-base-default-item;
	 -border:-wirl-border-default;
}
.table-view .column-header:pressed:hover,
.table-view .column-drag-header
{
	 -base:-wirl-base-focused-item;
	 -border:-wirl-border-hover;
	 -fx-opacity:1;
}
.table-view .column-header.table-column-selected 
{
	-base:item-default-background-color;
}
.table-view .column-header.table-column-selected :hover
{
	-base:-wirl-base-focused-item;
	-border:-wirl-border-hover;
}
.table-view .column-header:last-visible
{
}




/*Util
.table-view .column-resize-line
{
	-fx-background-color:-wirl-border-hover;
}
/*Cells
.table-cell > .filler
{
	-fx-background-color:red;
}
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell
{
	-fx-border-width:1;
	-fx-border-color:-wirl-border-default;
	-fx-border-radius:0;
	-fx-border-insets:0,0;
	-fx-background-color:transparent;
}
.table-cell:last-visible {
    -fx-border-color: transparent;
}

/*Cell Selection
.table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell,
.table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused .table-cell,
.table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:hover 
{
	-fx-background-color:-wirl-border-default,-wirl-base-default-item;
	-fx-background-insets:0,1 1 0 0;
}
.table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover,
.table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:focused:hover
{
   -fx-background-color:-wirl-border-default,-wirl-border-hover,-wirl-base-focused-item;
	-fx-background-insets:0,1 1 0 0,2 2 1 1 ;
}
/*Row Selection
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected,
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:hover,
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected >.table-cell,
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:hover >.table-cell
 {
    -fx-background-color:-wirl-border-default,-wirl-base-default-item;
	-fx-background-insets:0,1 1 0 0;
}
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected >.table-cell:hover {
     -fx-background-color:-wirl-border-default,-wirl-border-hover,-wirl-base-focused-item;
	-fx-background-insets:0,1 1 0 0,2 2 1 1 ;
}*/


 /******************************************************************************
 *                                                                             *
 * Splitpane                              
 *                                                                             *
 ******************************************************************************/
 .split-pane
 {
	 -fx-background-color:-wirl-border-default,-wirl-base-default;
	 -fx-background-insets:0,1;
	 -fx-background-radius:0,0;
 }
 
.split-pane > .split-pane-divider
{
	-base:-wirl-base-context-menu;
	-border:-wirl-border-context-menu;
	-fx-background-color:-border,-base;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
}
.split-pane > .split-pane-divider:hover,
.split-pane > .split-pane-divider:pressed
{
	-base:-wirl-base-default-item;
}
.split-pane > .split-pane-divider:pressed:hover
{
	-base:-wirl-base-focused-item;
	-border:-wirl-border-hover;
}
 /******************************************************************************
 *                                                                             *
 * Separator                                  
 *                                                                             *
 ******************************************************************************/
  .separator 
 {
 }
 .separator:horizontal >.line
 {
	 -fx-max-height:2;
	 -fx-border-width:0;
	 -fx-background-color:-wirl-border-default;
	 -fx-background-insets:0;
	 -fx-background-radius:0;
	 -fx-padding:0;
 }
 /******************************************************************************
 *                                                                             *
 * Chart                                     
 *                                                                             *
 ******************************************************************************/
.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;    
}
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
.chart-legend-item{
    -fx-text-fill: -wirl-accent;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines,
.chart-horizontal-grid-lines  {
    -fx-stroke: derive(-wirl-base-default,-15%);
}
.axis {
    -fx-tick-length: 10;
    -fx-minor-tick-length: 5;
	-fx-stroke:-base;
}
.axis-tick-mark {
	-fx-stroke: derive(-wirl-base-default,-45%);
    -fx-stroke-width: 2; 
	-fx-stroke-radius:0;
}
.axis-minor-tick-mark {
    -fx-stroke: derive(-wirl-base-default,-25%);
	 -fx-stroke-width: 1; 
}


 /******************************************************************************
 *                                                                             *
 * Slider                                     
 *                                                                             *
 ******************************************************************************/
 Slider
 {
	 -fx-skin: "com.frechsack.dev.common.fx.wirl.skin.WirlSliderSkin";
 }
 
.slider
{
	-value-fill: -wirl-base-default-item;
}
.slider:hover
{
	-value-fill: -wirl-base-focused-item;
}
.slider > .track 
{
	-fx-background-color:-wirl-border-default,-wirl-base-default;
	-fx-background-insets: 0,1;
	-fx-background-radius: 0,0;
} 
.slider > .thumb
{
	-fx-padding: 12 5 12 5;
}
.slider:focused > .thumb
{
	-border: -wirl-border-focused;
	-fx-background-insets: 0,2;
}
.slider >.thumb:hover
{
	-border: -wirl-border-hover;
	-fx-background-insets: 0,1;
}
.slider >.thumb:pressed
{
	-border:-wirl-border-armed-button;
	-base:-wirl-base-armed-button;
	-fx-background-insets: 0,1;
}

 /******************************************************************************
 *                                                                             *
 * Titledpane                           
 *                                                                             *
 ******************************************************************************/
.titled-pane > .title
{
	-base:-wirl-base-default;
	-border:-wirl-border-default;
	-fx-background-color: -border,-base;
	-fx-background-insets: 0,1;
	-fx-background-radius:0,0;
}
.titled-pane:focused  >.title,
.titled-pane:expanded  >.title,
.titled-pane  >.title:hover
{
	-base:-wirl-base-default-item;
}
.titled-pane:focused > .title > .arrow-button >.arrow
{
	-fx-effect:null;
}
.titled-pane:expanded >.title:hover,
.titled-pane:focused >.title:hover,
.titled-pane:expanded:focused >.title
{
	-base:-wirl-base-focused-item;
	-border:-wirl-border-hover;
}
.titled-pane >.content
{
	-fx-background-color:-wirl-border-default,-wirl-base-top-pane;
	-fx-background-insets:0px,1px;
	-fx-background-radius:0,0;
	-fx-border-width:0;
}
 /******************************************************************************
 *                                                                             *
 * Progressbar                                     
 *                                                                             *
 ******************************************************************************/
 .progress-bar
 {
	-fx-indeterminate-bar-flip:false;
	-fx-indeterminate-bar-animation-time:3;
	-fx-indeterminate-bar-escape:true;
 }
 
.progress-bar >.track
{
	-fx-background-color:-wirl-border-default,-wirl-base-default;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
	
}
.progress-bar >.bar
{
	-fx-background-color:-wirl-base-default-item;
	-fx-background-insets:1;
	-fx-background-radius:0;
}
.progress-bar:hover > .bar
{
	-fx-background-color:-wirl-base-focused-item;
}

 /******************************************************************************
 *                                                                             *
 * ListView                                     
 *                                                                             *
 ******************************************************************************/
.list-view
{
	-border: -wirl-border-default;
	-fx-background-color: -border,-wirl-base-input;
	-fx-background-radius:0,0;
	-fx-background-insets:0,1;
	-fx-padding:2;
}
.list-view:focused
{
	-border: -wirl-border-focused;
	-fx-background-insets:0,2;
}
.list-view:hover
{
	-border: -wirl-border-hover;
	-fx-background-insets:0,1;
}
/*Custom Implementation for the scroll pane*/
.list-view > .virtual-flow >.scroll-bar
{
}
/*Cells*/
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell 
{
	-base:transparent;
	-border:-base;
	-fx-background-color:-border,-base;
	-fx-background-radius: 0,0;
	-fx-background-insets: 0,1;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover
{
	-base:-wirl-base-default-item;
	-border:-base;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:focused:hover
{
	-base:-wirl-base-focused-item;
	-border: -wirl-border-hover;
}

 /******************************************************************************
 *                                                                             *
 * Scrollpane                                      
 *                                                                             *
 ******************************************************************************/
.scroll-pane
{
	-fx-background-color:transparent;
	-fx-background-radius:0,0;
	-fx-border-width:0;
	-fx-padding:0;
}
.scroll-pane > .scroll-bar:vertical
{
	-fx-padding:0;
}
.scroll-pane > .scroll-bar:horizontal
{
	-fx-padding:0;
}
.scroll-pane > .corner
{
	-fx-background-color:derive(-wirl-base-default,15%);
	-fx-background-insets:0;
}
.scroll-pane > .viewport
{
	-fx-background-color:transparent;
	-fx-background-insets:0;
}

 /******************************************************************************
 *                                                                             *
 * Scrollbar                                     
 *                                                                             *
 ******************************************************************************/
.scroll-bar > .decrement-button,
.scroll-bar > .increment-button
{
	-fx-background-color:transparent;
}
.scroll-bar
{
	-fx-background-color: derive(-wirl-base-default,15%);
	-fx-background-insets:0;
	-fx-padding:0;
}

.scroll-bar > .thumb
{
	-base:derive(-wirl-base-default,-10%);
	-fx-padding:0;
	-fx-background-color:-base;
	-fx-background-radius:0;
	-fx-background-insets:0;
}
.scroll-bar > .decrement-button,
.scroll-bar > .increment-button
{
	-base:transparent;
	-fx-background-color:-base;
	-fx-background-radius:0;
	-fx-background-insets:0;
}
.scroll-bar > .thumb:hover
{
	-base:derive(-wirl-base-default,-20%);
}
.scroll-bar > .decrement-button:hover,
.scroll-bar > .increment-button:hover
{
	-base:derive(-wirl-base-default,-10%);
}

.scroll-bar > .thumb:pressed
{
	-base:derive(-wirl-base-default,-30%);
}
.scroll-bar > .decrement-button:pressed,
.scroll-bar > .increment-button:pressed
{
	-base:derive(-wirl-base-default,-20%);
}
 /******************************************************************************
 *                                                                             *
 * Tab / Tabpane                                     
 *                                                                             *
 ******************************************************************************/
.tab-pane >.tab-header-area >.tab-header-background
 {
	 -fx-background-color:transparent;
 }
 
.tab-pane >.tab-header-area >.headers-region
{
	-fx-background-color:transparent;
}
.tab-pane >.tab-content-area
{
	-fx-background-color:-wirl-border-default,-wirl-base-top-pane;
	-fx-background-insets:0px,1px;
	-fx-background-insets:0px,0px;
}
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button
{
	-fx-padding:12;
}
/*Tab*/
.tab-pane >.tab-header-area >.headers-region >.tab 
{
	-border:-wirl-border-default;
	-base:-wirl-base-default;
	-fx-background-color:-border,-base;
	-fx-background-radius:0,0;
	-fx-background-insets:0,1;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab .focus-indicator {
    -fx-border-width:0;
	-fx-border-color:transparent;
}
.tab-pane >.tab-header-area >.headers-region >.tab:hover 
{
	-base: -wirl-base-default-item;
	/*-border: -wirl-border-hover;*/
}

.tab-pane >.tab-header-area >.headers-region >.tab:selected 
{
	-base: -wirl-base-top-pane;
	-fx-padding:3 6 3 6;
}
.tab-pane >.tab-header-area >.headers-region >.tab:selected:top 
{
	-fx-background-insets:0, 1 1 0 1;
}
.tab-pane >.tab-header-area >.headers-region >.tab:selected:right 
{
	-fx-background-insets:0, 1 1 0 1;
}
.tab-pane >.tab-header-area >.headers-region >.tab:selected:bottom 
{
	-fx-background-insets:0, 1 1 0 1;
}
.tab-pane >.tab-header-area >.headers-region >.tab:selected:left 
{
	-fx-background-insets:0, 1 1 0 1;
} 

/*******************************************************************************
 *                                                                             *
 * Menu Bar                                     
 *                                                                             *
 ******************************************************************************/
.menu-bar
{
	-fx-background-color: -wirl-base-menu-bar;
}
.menu-bar >.container >.menu-button
{
	 -border:transparent;
	 -base:transparent;
	 -fx-background-color:derive(-base,-10%),-base;
	 -fx-background-insets: 0px, 1px;
	 -fx-padding: 3px,6px,3px,6px;
}
.menu-bar > .container >.menu-button:hover , 
.menu-bar > .container >.menu-button:focused
 {
	-base: -wirl-base-default-item;
 }

.menu-bar > .container >.menu-button:showing 
{
	-base:-wirl-base-focused-item;
}
/*Hide Arrow of menu button*/
.menu-bar > .container >.menu-button >.arrow-button
{
	-fx-padding: 0px;
}
.menu-bar > .container >.menu-button >.arrow-button >.arrow
{
    -fx-max-width: 0px;
    -fx-min-width: 0px;
    -fx-max-height: 0px;
    -fx-min-height: 0px;
 }
 
 /******************************************************************************
 *                                                                             *
 * ContextMenu / Menu / Menu Items /                                   
 *                                                                             *
 ******************************************************************************/
 .context-menu
 {
	-fx-background-color:-wirl-border-context-menu,-wirl-base-context-menu;
	-fx-background-insets: 0px,1px;
	-fx-background-radius: 0px,0px;
	-fx-padding: 3;
 }
 .context-menu .separator 
 {
	 -fx-padding: 3 0 3 0;
 }
 .context-menu .separator .line
 {
	 -fx-max-height:2;
	 -fx-border-width:0;
	 -fx-background-color:-wirl-border-default;
	 -fx-background-insets:0;
	 -fx-background-radius:0;
	 -fx-padding:0;
 }
 
.menu
{
	/*Looks like a menu item*/ 
}
 
.menu-item
{
	-fx-padding : 0 3 0 0;
}
.menu-item .label
{
	-fx-padding: 3 6 3 6;
}
.menu-item > .left-container
{
	-fx-padding:7;
} 
.menu-item:hover ,
.menu-item:focused,
.menu-item:selected,
.context-menu > .scroll-arrow:hover,
.context-menu > .scroll-arrow:selected,
.menu-item:checked > .left-container
{
	-fx-background-color:-wirl-base-default-item;
}
.menu-item:hover .label,
.menu-item:focused .label,
.menu-item:selected .label
{
	-fx-text-fill:-wirl-text;
}

.menu-item:checked:hover,
.menu-item:checked:focused,
.context-menu > .scroll-arrow:checked:hover,
.context-menu > .scroll-arrow:checked:focused
{
	-fx-background-color:-wirl-border-hover,-wirl-base-default-item; 
	-fx-background-insets:0,1;
}

.menu-item:checked:hover > .left-container,
.menu-item:checked:focused > .left-container
{
	-fx-background-color:-wirl-border-hover,-wirl-base-focused-item; 
	-fx-background-insets:0,1;
}

/*******************************************************************************
 *                                                                             *
 * Spinner                                                      
 *                                                                             *
 ******************************************************************************/
.spinner
{
	-fx-background-color:transparent;
}
/*******************************************************************************
 *                                                                             *
 * Common Text Input Styles                                                          
 *                                                                             *
 ******************************************************************************/
.text-input
{
    -base:-wirl-base-input;
	-border:-wirl-border-default;
    -fx-background-color:-border,-base;
    -fx-background-insets: 0,1;
    -fx-background-radius: 0,0;
	-fx-highlight-fill:-wirl-base-default-item;
	-fx-highlight-text-fill:-wirl-text;
}
.text-input > Pane {
    -fx-background-color: transparent;
}
.text-input:focused
{
    -border: -wirl-border-focused;
    -fx-background-insets: 0,2;
}
.text-input:hover 
{
    -border: -wirl-border-hover;
	-fx-background-insets: 0,1;
}
.text-area
{
	-fx-padding:2;
}
.text-area .content
{
	-fx-background-color:-wirl-base-input;
	-fx-border-color:transparent;
}
/*******************************************************************************
 *                                                                             *
 * Checkbox / RadioButton Box                                              
 *                                                                             *
 ******************************************************************************/
.check-box > .box,
.radio-button > .radio
{
	-fx-pref-width: 25px;
    -fx-max-width: 25px;
    -fx-min-width: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-min-height: 25px;
	-border: -wirl-border-default;
	-base:transparent;
	-fx-background-color:-base;
	-fx-background-insets: 0px;
    -fx-background-radius: 0px;
	-fx-border-color:-border;
	-fx-border-width:1px;
    -fx-border-radius: 0px;
	-fx-padding : 1px;
}

.check-box:selected > .box,
.radio-button:selected > .radio
{
	-base: -wirl-base-default-item;
}
.check-box:focused > .box,
.radio-button:focused > .radio
{
	-border:-wirl-border-focused;
	-fx-padding:0;
	-fx-border-width:2;
}
.check-box > .box:hover,
.radio-button > .radio:hover
{
	-border:-wirl-border-hover;
	-fx-padding:1;
	-fx-border-width:1;
}
.check-box:selected > .box:hover,
.radio-button:selected > .radio:hover
{
	-base: -wirl-base-focused-item;
}
 /******************************************************************************
 *                                                                             *
 * Date Picker                              
 *                                                                             *
 ******************************************************************************/
 /*Select Cells*/
.date-picker-popup > * > .day-cell
{
	-base: -wirl-base-input;
	-border:-wirl-base-input;
	-fx-background-color:-border,-base;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
}
.date-picker-popup > * > .day-cell.previous-month,
.date-picker-popup > * > .day-cell.next-month {
    -fx-background-color: derive(-wirl-base-input,-15%);
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .day-cell.selected,
.date-picker-popup > * > .today 
{
	-base:-wirl-base-default-item;
}
.date-picker-popup > * > .day-cell.selected:hover,
.date-picker-popup > * > .today :hover
{
	-base:-wirl-base-focused-item;
	-border:-wirl-border-hover;
}
/*Panes*/
.date-picker-popup > .month-year-pane {
    -fx-background-color: -wirl-base-default;
    -fx-background-insets: 0;
}
/*Spinner Buttons*/
.date-picker-popup > * > .spinner > .button {
    -base: transparent;
	-border:-wirl-border-default;
	-fx-background-color:-base;
	-fx-background-insets:0;
	-fx-background-radius:0;
	-fx-border-color:-border;
	-fx-border-width:1;
	-fx-background-insets:0;
	-fx-padding:2 5 2 5;
}
.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > * > .spinner > .button:focused {
    -base: -wirl-base-default-item;
	-border:-wirl-border-default;
}
.date-picker-popup > * > .spinner > .button:hover:focused {
    -base: -wirl-base-focused-item;
	-border:-wirl-border-hover;
}

/*******************************************************************************
 *                                                                             *
 * Buttons
 *                                                                             *
 ******************************************************************************/

/*None State*/
.button,
.toggle-button,
.combo-box-base,
.menu-button,
.split-menu-button,
.choice-box
{
	-base:-wirl-base-default;
	-border:-wirl-border-default;
	-fx-background-color:-border,-base;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
}
.split-menu-button >.label
{
	-fx-background-color:transparent;
	-fx-border-color:-wirl-border-default;
	-fx-border-width:1;
	-fx-border-radius:0;
	-fx-padding:3;
}

/*Default State*/
.button:default
{
	-base:-wirl-base-default-item;
}
/*Selected / Showing State*/
.toggle-button:selected,
.combo-box-base:showing,
.menu-button:showing,
.choice-box:showing,
.split-menu-button:showing
{
	-base:-wirl-base-armed-button;
	-border:-wirl-border-armed-button;
	
}
/*Focused State*/
.button:focused, 
.toggle-button:focused , 
.combo-box-base:focused , 
.menu-button:focused,
.choice-box:focused,
.split-menu-button:focused
{
    -border:-wirl-border-focused;
	-fx-background-insets:0,2;
}
.split-menu-button:focused >.label
{
	-fx-border-color:-wirl-border-focused;
	-fx-border-width:2;
	-fx-padding:2;
}
/*Hover State*/
.button:hover, 
.toggle-button:hover, 
.combo-box-base:hover ,
.menu-button:hover , 
.choice-box:hover,
.split-menu-button:hover
{
    -base:-wirl-base-hover-button;
    -border:-wirl-border-hover;
	-fx-background-insets:0,1;
}
/*Default Hover State*/
.button:default:hover
{
	-base:-wirl-base-focused-item;
	-border:-wirl-border-hover;
}
.split-menu-button:hover >.label
{
	-fx-border-color:-wirl-border-hover;
	-fx-border-width:1;
	-fx-padding:3;
}
/*Armed / Pressed State*/
.button:armed,
.button:pressed,
.toggle-button:armed, 
.toggle-button:pressed, 
.combo-box-base:pressed , 
.combo-box-base:armed,
.menu-button:armed, 
.menu-button:pressed, 
.choice-box:pressed, 
.choice-box:armed,
.split-menu-button:pressed,
.split-menu-button:armed
{
    -base:-wirl-base-armed-button;
    -border:-wirl-border-armed-button;
	-fx-background-insets:0,1;
}
.split-menu-button:pressed > .label,
.split-menu-button:armed > .label
{
	-fx-border-color:-wirl-border-armed-button;
}
/*Armed / Pressed and Focused State*/
/*
.button:armed:focused,
.button:pressed:focused, 
.toggle-button:armed:focused, 
.toggle-button:pressed:focused, 
.combo-box-base:pressed:focused , 
.combo-box-base:armed:focused ,
.menu-button:armed:focused ,
.menu-button:pressed:focused ,
.choice-box:armed:focused,
.choice-box:pressed:focused, 
.split-menu-button:pressed:focused, 
.split-menu-button:armed:focused
{
     -base:-wirl-base-armed-button;
     -border:-wirl-border-focused;
}
.split-menu-button:pressed:focused >.label, 
.split-menu-button:armed:focused >.label
{
	-fx-border-color:-wirl-border-focused;
}*/
/*ComboBox List*/
.combo-box-popup > .list-view {
	-border:-wirl-border-context-menu;
    -fx-background-color:-border,-wirl-base-context-menu;
    -fx-background-insets: 0, 1;
}
.combo-box-popup > .list-view:hover {
    -border:-wirl-border-hover;
}
/*ColorPicker Popup*/
.color-palette 
{
	-fx-background-color:-wirl-border-context-menu,-wirl-base-context-menu;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 0,0;
}
/*TODO:NIY*/
.color-palette > .hover-square .color-rect
{
	-fx-background-color:red;
	-fx-border-color:red;
}
/*The Dialog in the center*/
.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: -wirl-border-default,-wirl-base-top-pane;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
}

/******************************************************************************
 *                                                                             *
 * ToolBar TODO: Checkbox/ RadioButton are 1px to small                              
 *                                                                             *
 ******************************************************************************/
.tool-bar
{
	-fx-background-color:derive(-wirl-base-menu-bar,-3%);
	-fx-background-insets:0;
	-fx-border-radius:0;
}
.tool-bar .button,
.tool-bar .combo-box-base,
.tool-bar .menu-button,
.tool-bar .choice-box,
.tool-bar .combo-box-base:editable > .text-input,
.tool-bar .text-input,
.tool-bar .split-menu-button > .label,
.tool-bar .check-box > .box, 
.tool-bar .radio-button > .radio
{
	-base:transparent;
	-border:-wirl-border-default;
	-fx-background-color:-base;
	-fx-border-color:-border;
	-fx-border-width:1;
	-fx-border-radius:0;
}
.tool-bar .split-menu-button > .label
{
	-fx-padding:4;
}

.tool-bar .button:hover, 
.tool-bar .button:focused,

.tool-bar .combo-box-base:hover,
.tool-bar .combo-box-base:focused,
.tool-bar .combo-box-base:showing,

.tool-bar .menu-button:hover,
.tool-bar .menu-button:focused,
.tool-bar .menu-button:showing,

.tool-bar .choice-box:hover,
.tool-bar .choice-box:focused,
.tool-bar .choice-box:showing,

.tool-bar .combo-box-base:editable:hover > .text-input,
.tool-bar .combo-box-base:editable:focused > .text-input,
.tool-bar .combo-box-base:editable:showing > .text-input,

.tool-bar .text-input:hover,
.tool-bar .text-input:focused,

.tool-bar .split-menu-button:hover > .label,
.tool-bar .split-menu-button:focused > .label,
.tool-bar .split-menu-button:showing > .label,

.tool-bar .check-box > .box:hover,
.tool-bar .check-box:focused > .box,
.tool-bar .check-box:selected > .box,

.tool-bar .radio-button > .radio:hover,
.tool-bar .radio-button:focused > .radio,
.tool-bar .radio-button:selected > .radio
{	
	-base:-wirl-base-default-item;
}

.tool-bar .button:hover:focused,
.tool-bar .button:pressed,
.tool-bar .button:armed,

.tool-bar .combo-box-base:hover:focused,
.tool-bar .combo-box-base:hover:showing,
.tool-bar .combo-box-base:pressed,
.tool-bar .combo-box-base:armed,

.tool-bar .menu-button:hover:focused,
.tool-bar .menu-button:hover:showing,			
.tool-bar .menu-button:pressed,
.tool-bar .menu-button:armed,

.tool-bar .choice-box:hover:focused,
.tool-bar .choice-box:hover:showing,
.tool-bar .choice-box:pressed,
.tool-bar .choice-box:armed,

.tool-bar .combo-box-base:editable:hover:focused > .text-input,
.tool-bar .combo-box-base:editable:hover:showing > .text-input,
.tool-bar .combo-box-base:editable:pressed > .text-input,
.tool-bar .combo-box-base:editable:armed > .text-input,

.tool-bar .text-input:hover:focused,

.tool-bar .split-menu-button:hover:focused > .label,
.tool-bar .split-menu-button:hover:showing > .label,
.tool-bar .split-menu-button:pressed > .label,
.tool-bar .split-menu-button:armed > .label,

.tool-bar .check-box:focused > .box:hover,
.tool-bar .check-box:selected > .box:hover,
.tool-bar .check-box:pressed > .box,
.tool-bar .check-box:selected:focused > .box,

.tool-bar .radio-button:focused > .radio:hover,
.tool-bar .radio-button:selected > .radio:hover,
.tool-bar .radio-button:pressed > .radio,
.tool-bar .radio-button:selected:focused > .radio
{
	-border:-wirl-border-hover;
	-base:-wirl-base-focused-item;
}
 /*Editable combo / Split Menu Button*/
.tool-bar .combo-box-base:editable,
.tool-bar .split-menu-button 
{
	-base:transparent;
	-border:transparent;
	-fx-border-width:0;
}
/*******************************************************************************
 *                                                                             *
 * Dialog
 *                                                                             *
 ******************************************************************************/
 .dialog-pane:header .header-panel {
   -fx-background-color: -wirl-root;
}
 
 .dialog-pane {
    -fx-background-color: derive(-wirl-root,30%);
	-fx-background-insets:0;
	
}
 .alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane,
.alert.information.dialog-pane,
.alert.error.dialog-pane,
.alert.warning.dialog-pane {
    -fx-graphic: null;
}

/*******************************************************************************
 *                                                                             *
 * User Styles
 *                                                                             *
 ******************************************************************************/
 .group-box-border
 {
	 -fx-content-display: top;
	-fx-border-insets:20 ;
	-fx-border-color:derive(-wirl-base-default,-10%);
	-fx-border-width:2;
 }
 
 .group-box-content
 {
	 -fx-padding: 26 10 10 10;
 }
 
 .group-box-title{
 }
 
 /*******************************************************************************
 *                                                                             *
 * Flat Styles
 *                                                                             *
 ******************************************************************************/
#flat-button,
#flat-combo-box-base,
#flat-menu-button,
#flat-choice-box,
#flat-combo-box-base:editable > .text-input,
#flat-text-input,
#flat-split-menu-button > .label,
#flat-check-box > .box, 
#flat-radio-button > .radio
{
	-base:transparent;
	-border:-wirl-border-default;
	-fx-background-color:-base;
	-fx-border-color:-border;
	-fx-border-width:1;
	-fx-border-radius:0;
}
#flat-split-menu-button > .label
{
	-fx-padding:4;
}
#flat-button:hover, 
#flat-button:focused,
#flat-combo-box-base:hover,
#flat-combo-box-base:focused,
#flat-combo-box-base:showing,
#flat-menu-button:hover,
#flat-menu-button:focused,
#flat-menu-button:showing,
#flat-choice-box:hover,
#flat-choice-box:focused,
#flat-choice-box:showing,
#flat-combo-box-base:editable:hover > .text-input,
#flat-combo-box-base:editable:focused > .text-input,
#flat-combo-box-base:editable:showing > .text-input,
#flat-text-input:hover,
#flat-text-input:focused,
#flat-split-menu-button:hover > .label,
#flat-split-menu-button:focused > .label,
#flat-split-menu-button:showing > .label,
#flat-check-box > .box:hover,
#flat-check-box:focused > .box,
#flat-check-box:selected > .box,
#flat-radio-button > .radio:hover,
#flat-radio-button:focused > .radio,
#flat-radio-button:selected > .radio
{	
	-base:-wirl-base-default-item;
}
#flat-button:hover:focused,
#flat-button:pressed,
#flat-button:armed,
#flat-combo-box-base:hover:focused,
#flat-combo-box-base:hover:showing,
#flat-combo-box-base:pressed,
#flat-combo-box-base:armed,
#flat-combo-box:hover:focused,
#flat-combo-box:hover:showing,
#flat-combo-box:armed,
#flat-menu-button:hover:focused,
#flat-menu-button:hover:showing,			
#flat-menu-button:pressed,
#flat-menu-button:armed,
#flat-choice-box:hover:focused,
#flat-choice-box:hover:showing,
#flat-choice-box:pressed,
#flat-choice-box:armed,
#flat-combo-box-base:editable:hover:focused > .text-input,
#flat-combo-box-base:editable:hover:showing > .text-input,
#flat-combo-box-base:editable:pressed > .text-input,
#flat-combo-box-base:editable:armed > .text-input,
#flat-text-input:hover:focused,
#flat-split-menu-button:hover:focused > .label,
#flat-split-menu-button:hover:showing > .label,
#flat-split-menu-button:pressed > .label,
#flat-split-menu-button:armed > .label,
#flat-check-box:focused > .box:hover,
#flat-check-box:selected > .box:hover,
#flat-check-box:pressed > .box,
#flat-check-box:selected:focused > .box,
#flat-radio-button:focused > .radio:hover,
#flat-radio-button:selected > .radio:hover,
#flat-radio-button:pressed > .radio,
#flat-radio-button:selected:focused > .radio
{
	-border:-wirl-border-hover;
	-base:-wirl-base-focused-item;
}
 /*Editable combo / Split Menu Button*/
#flat-combo-box-base:editable,
#flat-split-menu-button 
{
	-base:transparent;
	-border:transparent;
	-fx-border-width:0;
}
/*******************************************************************************
 *                                                                             *
 * default-button
 *                                                                             *
 ******************************************************************************/
#button-type
{
	-base:-wirl-base-default;
	-border:-wirl-border-default;
	-fx-background-color:-border,-base;
	-fx-background-insets:0,1;
	-fx-background-radius:0,0;
}
#button-type:default
{
	-base:-wirl-base-default-item;
}
#button-type:selected,
#button-type:showing
{
	-base:-wirl-base-armed-button;
	-border:-wirl-border-armed-button;
}
#button-type:focused
{
	-border:-wirl-border-focused;
	-fx-background-insets:0,2;
}
#button-type:hover
{
    -base:-wirl-base-hover-button;
    -border:-wirl-border-hover;
	-fx-background-insets:0,1;
}
#button-type:pressed,
#button-type:armed
{
    -base:-wirl-base-armed-button;
    -border:-wirl-border-armed-button;
}
#button-type:pressed:focused, 
#button-type:armed:focused
{
    -base:-wirl-base-armed-button;
    -border:-wirl-border-focused;
}
/*******************************************************************************
 *                                                                             *
 * top-pane
 *                                                                             *
 ******************************************************************************/
 #top-pane
 {
	 -fx-background-color:-wirl-base-top-pane;
	 -fx-background-insets:0;
	 -fx-background-radius:0;
	 -fx-border-width:0;
 }
 /*******************************************************************************
 *                                                                             *
 * pane
 *                                                                             *
 ******************************************************************************/
 #pane
 {
	 -fx-background-color:-wirl-base-default;
	 -fx-background-insets:0;
	 -fx-background-radius:0;
	 -fx-border-width:0;
 }
 