@import "wirlstyle.css";


.root
{
    -wirl-base-default:rgb(25,25,25);
	-wirl-border-default:rgb(10,10,10);
	-wirl-border-hover:rgb(0,120,215);
	-wirl-border-focused:rgb(0,120,215);
	-wirl-text:rgb(255,255,255);
	-wirl-accent:rgb(255,0,0);
	-wirl-mark:rgb(245,245,220);
	-wirl-base-top-pane:rgb(32,32,32);
	-wirl-base-tool-tip:rgb(255,255,0);
	-wirl-base-menu-bar:rgb(0,0,0);
	-wirl-base-input:rgb(37,37,37);
	-wirl-base-context-menu:rgb(25,25,25);
	-wirl-border-context-menu:rgb(17,17,17);
	-wirl-base-default-item:rgb(0,97,172);
	-wirl-base-focused-item:rgb(0,87,152);
	-wirl-base-hover-button:rgb(0,97,172);
	-wirl-base-armed-button:rgb(0,87,152);
	-wirl-border-armed-button:rgb(0,60,106);
	-wirl-root:rgb(40,40,40);
/*******************************************************************************
 *                                                                             *
 * Text defaults                                                 
 *                                                                             *
 ******************************************************************************/
-fx-font-family: "SegoeUI";
-fx-font-size: 12;
-fx-text-fill: -wirl-text;
-fx-text-base-color: -wirl-text;
-fx-text-inner-color: -wirl-text;
-fx-selection-bar-text: -wirl-text;
-fx-text-background-color: -wirl-text;
}

 